{% extends "global/base.html" %}

{% block title %}Additional Information{% endblock %}

{% block content %}
<div class="container-additional-info">
  <h1>Additional Information</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="id_age">Age:</label>
    {{ form.age }}

    <label for="id_gender">Gender:</label>
    {{ form.gender }}

    <label for="id_height">Height (m):</label>
    {{ form.height }}

    <label for="id_weight">Weight (kg):</label>
    {{ form.weight }}

    <label for="id_nutritional_goal">Nutritional Goal:</label>
    {{ form.nutritional_goal }}

    <label for="id_allergies">Allergies:</label>
    {{ form.allergies }}

    <label for="id_image">Profile Photo:</label>
    {{ form.image }}

    <button class="btn-additional-info"type="submit">Save</button>

    <div class="messages-container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>

  </form>
</div>
{% endblock %}
