{% extends 'global/base.html' %}

{% block title %}Delete Plan{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-danger text-center m-2">Delete Nutritional Plan</h1>
  <p>Are you sure you want to delete <strong>{{ plan.title }}</strong>?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a href="{% url 'plan_list' customer %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
