{% extends 'global/base.html' %}

{% block title %}Nutritional Plan{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4 text-primary">
      {% if form.instance.pk %}Edit{% else %}Create{% endif %} Nutritional Plan
    </h1>
    {% if customer %}
      <p><strong>Client:</strong> {{ customer.user.first_name }} {{ customer.user.last_name }}</p>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="btn btn-primary">Save Plan</button>
    </form>
  </div>
{% endblock %}
