<footer class="main-footer">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start">
    <!-- Desenvolvedores -->
    <div class="developer">
      <p class="mb-0">
        By 
        <a href="https://www.linkedin.com/in/jefferson-silva-duarte/" class="text-decoration-none fw-bold text-light" target="_blank" rel="noreferrer noopener">Jefferson Duarte</a>
        and
        <a href="https://linkedin.com/in/peterson-eduardo-sampaio-silva-b024b01ab" class="text-decoration-none fw-bold text-light" target="_blank" rel="noreferrer noopener">Peterson Eduardo</a>
      </p>
    </div>

    <!-- Powered by Django -->
    <div class="powered mt-3 mt-md-0">
      <a href="https://www.djangoproject.com/" 
        class="text-decoration-none fw-medium" 
        target="_blank" 
        rel="noreferrer noopener">
        Powered by Django
      </a>
    </div>
  </div>
</footer>
