.patient-list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.patient-details {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
}

.page-link {
  padding: 8px 12px;
  background-color: #f3f4f6;
  color: #374151;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.3s, transform 0.2s;
}

.page-link:hover {
  background-color: #3b82f6;
  color: rgb(29, 209, 12);
  transform: scale(1.05);
}

.page-info {
  font-size: 14px;
  font-weight: 600;
  color: #4b5563;
}
/* Confirm Delete Appointment Page Styles */
.appointment-container {
  max-width: 800px;
  margin: 0 auto;
}

.appointment-container, a {
  text-decoration: none;
}

.appointment-container, button {
  cursor: pointer;
}

.appointment-container, button:hover {
  /* opacity: 0.8; */
  color: #3b82f6;
}
